{% extends 'default.html' %}

{% load static %}

{% block css_plugin%}
  <!-- Саша сюда вставляй ссылку на свой CSS -->
{% endblock  %}

{% block content %}
  <main class="site-main">
    <!-- Collage of Ildar faces -->
    <!-- ====================================================================== -->
    <section class="faces-area">
      <div class="pleasant-container-flex">
        <div class="pleasant-col-side bg-yellow"></div>
        <div class="pleasant-col">
          <div class="faces-list">
            <div class="face-item" id="face01"></div>
            <div class="face-item" id="face02"></div>
            <div class="face-item" id="face03"></div>
            <div class="face-item" id="face04"></div>
            <div class="face-item" id="face05"></div>
            <div class="face-item" id="face06"></div>
            <div class="face-item" id="face07"></div>
            <div class="face-item" id="face08"></div>
            <div class="face-item" id="face09"></div>
            <div class="face-item" id="face10"></div>
            <div class="face-item" id="face11"></div>
            <div class="face-item" id="face12"></div>
            <div class="face-item" id="face13"></div>
            <div class="face-item" id="face14"></div>
            <div class="face-item" id="face15"></div>
            <div class="face-item" id="face16"></div>
            <div class="face-item" id="face17"></div>
            <div class="face-item" id="face18"></div>
          </div>
        </div>
        <div class="pleasant-col-side bg-gray"></div>
      </div>
    </section>
    <!-- ====================================================================== -->
    <!-- End Collage of Ildar faces -->

    <!-- Hello Area -->
    <!-- ====================================================================== -->
    <section class="hello-area">
      <div class="pleasant-container-flex">
        <div class="pleasant-col-side bg-yellow"></div>
        <div class="pleasant-col">
          <div class="hello-con">
            <div class="hello-wrapper">
              <img src="{% static '/img/hello-banner.png' %}" alt="" />
              <div class="pink-smile"></div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="quote-container">
                <div class="quote-angles">
                  <i class="fa-solid fa-angles-left"></i>
                </div>
                <div class="quote-text">почти весь выпуск смеялась и плакала в самолете наверняка думали я больная))спасибо что не выгнали с рейса.</div>
                <div class="quote-angles">
                  <i class="fa-solid fa-angles-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pleasant-col-side bg-black"></div>
      </div>
    </section>
    <!-- ====================================================================== -->
    <!-- End Hello Area -->

    <!-- Mood Banner Area -->
    <!-- ====================================================================== -->
    <section class="mood-banner-area">
      <div class="pleasant-container">
        <img src="{% static '/img/mood-banner.png' %}" alt="" />
        <div class="d-flex justify-content-end">
          <div class="quote-container">
            <div class="quote-angles">
              <i class="fa-solid fa-angles-left"></i>
            </div>
            <div class="quote-text">ильдар, спасибо за контент. давно не ловила такой кринж. с подругами уже два часа обсуждаем.</div>
            <div class="quote-angles">
              <i class="fa-solid fa-angles-right"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====================================================================== -->
    <!-- End Mood Banner Area -->

    <!-- Chat-bot Area -->
    <!-- ====================================================================== -->
    <section class="chat-bot-area bg-gray">
      <div class="pleasant-container">
        <div class="emotion-pick-container">
          {% for emotion in emotions %}
            <div class="emotion-pick-item">
              <div class="emotion-pick-button" 
                    tooltip="{{ emotion.name }}"
                    data-emotion-id="{{ emotion.id }}"
                    >
                <img src="{% static '/img/emojis-gold/' %}{{ emotion.codename }}.png" alt="" />
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="container-fluid chat-bot-intro">
        <div class="pleasant-container">
          <div class="d-flex justify-content-end">
            <div class="top-banner-container">
              <img src="{% static '/img/top-banner.png' %}" alt="" />
              <div class="top-banner-text-con">
                <div class="top-banner-text-yellow">Чат-бот</div>
                <div class="top-banner-text-red">Уже подобрал для тебя видео</div>
              </div>
              <div class="tob-banner-sub-text">
                БЕРИ <span>суХАРИКИ</span> И НАСЛАЖДАЙСЯ!
              </div>
              <div class="quote-container" id="bottom-quote">
                <div class="quote-angles">
                  <i class="fa-solid fa-angles-left"></i>
                </div>
                <div class="quote-text">ильдарик,спасибо!бутерброд под этот видос зашёл моментально! даже в туалет за весь видос не ходила.</div>
                <div class="quote-angles">
                  <i class="fa-solid fa-angles-right"></i>
                </div>
              </div>
              <button class="chat-bot-start-button"><img src="{% static '/img/buttons/chat-bot-start-button.png' %}" alt="" /></button>
            </div>
          </div>
        </div>
        <div class="quote-container" id="side-quote">
          <div class="quote-angles">
            <i class="fa-solid fa-angles-left"></i>
          </div>
          <div class="quote-text">ильдар реагирует на каждого котика, но пропускает мимо и не умиляется прекрасной маленькой собачке. я в печале. так этого ждала...</div>
          <div class="quote-angles">
            <i class="fa-solid fa-angles-right"></i>
          </div>
        </div>
        <img src="{% static '/img/bg-snack.png' %}" alt="" class="bg-snack" />
      </div>
      <div class="chat-bot d-none">
        <div class="pleasant-container">
          <div class="chat-bot-col">
            <p class="text1">
              Выбирай <span>НАСТРОЕНИЕ</span> и я подберу для тебя видео!
            </p>
            <p class="text2">
              Добавим жести в эту непростую жизнь! ;) <br>
              Оставь <span>РЕАКЦИЮ</span> под видео и я буду радовать тебя крутыми подборками
            </p>
            <div class="youtube-screen d-none">
              <iframe class="youtube-iframe"
              src="https://www.youtube.com/embed/jMfrWa0wuTw"
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              allowfullscreen>
              </iframe>
              <div class="rating">
                  {% for emotion in emotions %}
                      <button class="rating-item" data-emotion-id="{{ emotion.codename }}">
                      <span>5</span>
                      <span class="emotion-{{ emotion.codename }}"></span>
                      </button>
                  {% endfor %}
              </div>
            </div>

            <div class="video-pick">
              <div class="video-item">
                <img src="https://i.ytimg.com/vi/pmmKYciIfLk/mqdefault.jpg" alt="">
                <div class="sub-rating">
                  <div class="rating-item">
                    <span>12</span>
                    <div class="emotion-funny"></div>
                  </div>
                  <div class="rating-item">
                    <span>8</span>
                    <div class="emotion-sad"></div>
                  </div>
                </div>
                <h4>ДЕТИ ЗА НАСЛЕДСТВО - МУЖСКОЕ ЖЕНСКОЕ</h4>
              </div>
              <div class="video-item">
                <img src="https://i.ytimg.com/vi/Oqllfc5so5c/mqdefault.jpg" alt="">
                <div class="sub-rating">
                  <div class="rating-item">
                    <span>20</span>
                    <div class="emotion-angry"></div>
                  </div>
                  <div class="rating-item">
                    <span>2</span>
                    <div class="emotion-funny"></div>
                  </div>
                  <div class="rating-item">
                    <span>1</span>
                    <div class="emotion-scary"></div>
                  </div>
                </div>
                <h4>СОСЕДИ НА ТРОПЕ ГОВНА - МУЖСКОЕ ЖЕНСКОЕ</h4>
              </div>
              <div class="video-item">
                <img src="https://i.ytimg.com/vi/k9uFL3ubuqM/mqdefault.jpg" alt="">
                <div class="sub-rating">
                  <div class="rating-item">
                    <span>23</span>
                    <div class="emotion-sad"></div>
                  </div>
                  <div class="rating-item">
                    <span>11</span>
                    <div class="emotion-sexy"></div>
                  </div>
                  <div class="rating-item">
                    <span>5</span>
                    <div class="emotion-funny"></div>
                  </div>
                </div>
                <h4>ПРИСТАВАЛ К ПАДЧЕРИЦЕ В БАНЕ - МУЖСКОЕ ЖЕНСКОЕ</h4>
              </div>
              <div class="video-item">
                <img src="https://i.ytimg.com/vi/9ndCfEX0mCw/mqdefault.jpg" alt="">
                <div class="sub-rating">
                  <div class="rating-item">
                    <span>4</span>
                    <div class="emotion-scary"></div>
                  </div>
                </div>
                <h4>ЗАДЕРЖАНИЕ ЧИКАТИЛО  -  КРИМИНАЛЬНАЯ РОССИЯ</h4>
              </div>
              <div class="video-item">
                <img src="https://i.ytimg.com/vi/9ndCfEX0mCw/mqdefault.jpg" alt="">
                <div class="sub-rating">
                  <div class="rating-item">
                    <span>4</span>
                    <div class="emotion-scary"></div>
                  </div>
                </div>
                <h4>ЗАДЕРЖАНИЕ ЧИКАТИЛО  -  КРИМИНАЛЬНАЯ РОССИЯ</h4>
              </div>
            </div>

            <div class="snack-pick">
              <p class="">
                Знаешь почему видос стоит смотреть под хрустящие закуски? 
                Если будет сильно страшно, твои ногти остануться целыми
              </p>
              <div class="snack-images">
                <img src="{% static '/img/snacks/bar1.png' %}" alt="">
                <img src="{% static '/img/snacks/bar2.png' %}" alt="">
              </div>
              <div class="chat-bot-menu">
                <button class="back-to-pick-button d-none">Назад</button>
                <button class="pick-more-button">ПОДБЕРИ ЕЩЁ ВИДЕО</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="chat-bot-2">

    </section>
    <!-- ====================================================================== -->
    <!-- End Chat-bot Area -->

    <!-- Games List Area -->
    <!-- ====================================================================== -->
    <section class="games-list-area bg-gray">
      <div class="yellow-line-marquee">CHOOSE*PLAY*CHILL* CHOOSE*PLAY*CHILL* CHOOSE*PLAY*CHILL* CHOOSE*PLAY*CHILL*</div>
      <div class="pleasant-container">
        <div class="games-list-banner">
          <img src="{% static '/img/games-list-banner.png' %}" alt="" />
        </div>
        <div class="d-flex justify-content-end">
          <div class="quote-container" id="banner-quote">
            <div class="quote-angles">
              <i class="fa-solid fa-angles-left"></i>
            </div>
            <div class="quote-text">ильдар, ты прям помолодел, выглядишь на 11! прическа супер!!!! максимально приятный молодой человек)</div>
            <div class="quote-angles">
              <i class="fa-solid fa-angles-right"></i>
            </div>
          </div>
        </div>
        <div class="games-list">
          <div class="games-list-row">
            <div>
              <img src="{% static '/img/games-list/game1.png' %}" alt="" />
            </div>
            <div class="games-list-description">
              <h3>Карандашная магия</h3>
              <p>Присоединись к игре, используй свой творческий потенциал и докажи себе, что ты истинный виртуальный художник!</p>
            </div>
          </div>
          <div class="games-list-row">
            <div>
              <img src="{% static '/img/games-list/game2.png' %}" alt="" />
            </div>
            <div class="games-list-description">
              <h3>Угадай возраст</h3>
              <p>Соревнуйся с другими игроками онлайн, чтобы доказать, что твои интуиция и аналитические способности на высоте.</p>
            </div>
          </div>
          <div class="games-list-row">
            <div>
              <img src="{% static '/img/games-list/game3.png' %}" alt="" />
            </div>
            <div class="games-list-description">
              <h3>Ильдар летающий герой</h3>
              <p>
                Экшн-игра с Ильдаром: <br />
                перепрыгивай через препятствия- девочек, жаждящих от тебя забеременеть и собирай бургеры.
              </p>
            </div>
          </div>
        </div>
        <div class="game-list-footer">
          <div class="quote-container">
            <div class="quote-angles">
              <i class="fa-solid fa-angles-left"></i>
            </div>
            <div class="quote-text">как же прекрасно есть пельмени и смотреть ильдара всегда.</div>
            <div class="quote-angles">
              <i class="fa-solid fa-angles-right"></i>
            </div>
          </div>
          <img src="{% static '/img/blue-tape.png' %}" alt="" class="blue-tape" />
        </div>
      </div>
      <div class="quote-container" id="side-quote-games">
        <div class="quote-angles">
          <i class="fa-solid fa-angles-left"></i>
        </div>
        <div class="quote-text">как же я обожаю когда ильдар начинает нести всякую хрень и сам потом с этого кринжует, я ору в голос</div>
        <div class="quote-angles">
          <i class="fa-solid fa-angles-right"></i>
        </div>
      </div>
    </section>
    <!-- ====================================================================== -->
    <!-- End Game List Area -->
  </main>
{% endblock %}

{% block js_plugins %}
  <!-- Chat-bot js file -->
{% endblock %}