.img_box {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 500px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: scale 0.3s ease, position 0.3s ease;
}

.img_box .quiz-tape {
    position: absolute;
    top: 10%; left: 10%;
    z-index: 2;
}

.img_box .correct-img {
    position: absolute;
    top: 50%; left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(-4deg);
    background-color: var(--gray-color);
}

.img_box .img-text {
    position: absolute;
    top: 85%; left: 73%;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(-11deg);

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red-color);
    padding: .8rem;
    width: 380px;
    height: 155px;

    color: #FFF;
    text-align: center;
    font-family: Futura PT Cond Medium Italic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.quiz-image {
    position: absolute;
    top: 50%; left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.quiz-title-wrapper {
    display: flex;
    align-items: center;
    Justify-content: center;
}

.quiz-title-wrapper h1 {
    font: 40px Monospace;
    color: #fff; 
}

/* ::selection {
    color: #fff;
    background: #007bff;
} */


.quiz_box,
.start_btn,
.info_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.quiz_box.moveQuiz {
    top: 50%;
    left: 30%;
}

.img_box.activeImg,
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    display: inline-flex;
    padding: 1.0625rem 1.75rem 1.8125rem 1.875rem;
    justify-content: center;
    align-items: center;
    width: 32rem;
    height: 7.5rem;
    background-color: var(--red-color);
    cursor: pointer;
    transition: all .4s ease;

    color: #FFF;
    font-family: Futura PT Cond Medium Italic;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.start_btn button:hover {
    color: var(--black-color);
    background-color: var(--yellow-color);
    border-radius: 30px;
    transform: scale(0.7);
}

.info_box {
    /* width: 540px; */
    width: 40rem;
    /* height: 34.5rem; */
    background-color: var(--black-color);
    border: 1px solid var(--red-color);
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: 0 1rem;
    display: flex;
    align-items: center;

    color: #FFF;
    font-family: Druk Cyr;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14rem;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;

    color: #fff;
    text-align: left;
    font-family: Futura PT Cond Medium Italic;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: var(--red-color);
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 110px;
    cursor: pointer;
    transition: all 0.3s ease;

    color: #FFF;
    font-family: Futura PT Cond Medium Italic;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.quiz_box{
    width: 640px;
    background: var(--black-color);
    border: 1px solid var(--red-color);
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    color: #FFF;
    font-family: Druk Cyr;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14rem;
}

.quiz_box header .timer{
    height: 45px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.quiz_box header .timer .time_left_txt{
    color: #FFF;
    font-family: Futura PT Cond;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 100% */
    letter-spacing: 0.105rem;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    min-width: 55px;
    height: 48px;
    background: var(--pink-color);

    color: #050505;
    font-family: Druk Cyr;
    text-align: center;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    letter-spacing: 0.1575rem;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background-color: var(--pink-color);
}

.quiz_box section {
    padding: 25px 30px 20px 30px;
}

section .que_text{
    color: var(--pink-color);
    text-align: left;
    font-family: Futura PT Cond Medium Italic;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: var(--red-color);
    padding: 8px 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    text-align: left;
    font-family: Futura PT Cond Medium Italic;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    background: var(--red-color-hover);
}

section .option_list .option.correct{
    color: var(--black-color);
    background: var(--yellow-color);
}

section .option_list .option.incorrect{
    color: var(--black-color);
    background: var(--gray-color);
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    display: block;
    min-width: 26px;
    min-height: 26px;
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: var(--black-color);
    border-color: var(--black-color);
}

.option_list .option .icon.cross{
    color: var(--black-color);
    border-color: var(--black-color);
}

.quiz-footer {
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-footer .total_que span {
    display: flex;
    user-select: none;

    color: #5e5e5e;
    font-family: Futura PT Cond Medium Italic;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.68px;
}

.quiz-footer .total_que span p {
    padding: 0 5px;
    color: white;

}

.quiz-footer .total_que span p:first-child {
    padding-left: 0px;
}

.quiz-footer button {
    /* height: 40px; */
    padding: 0 13px;
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;

    background-color: var(--red-color);
    
    color: #FFF;
    text-align: center;
    font-family: Futura PT Cond Medium Italic;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.quiz-footer button:hover {
    background-color: var(--red-color-hover);
}

.quiz-footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: var(--black-color);
    border-radius: 5px;
    border: 1px solid var(--red-color);
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: var(--red-color);
    margin-bottom: 10px;
}

.result_box .complete_text{
    color: #FFF;
    font-family: Druk Cyr;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.24px;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;

    color: #FFF;
    font-family: Futura PT Cond Medium Italic;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 88.889% */
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
    color: var(--yellow-color);
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s ease;

    color: #FFF;
    font-family: Futura PT Cond Medium Italic;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 88.889% */
}

.buttons button.restart{
    color: #fff;
    background: var(--red-color);
}

.buttons button.restart:hover{
    background: var(--red-color-hover2);
}

.buttons button.quit{
    color: var(--black-color);
    background: var(--red-color-hover);
}

.buttons button.quit:hover{
    color: #fff;
    background: var(--red-color);
}