/* import fonts from fonts css file */
@import url(../css/fonts.css);

/* css variables */
@import url(../css/partials/variables.css);

/* global style */
@import url(../css/partials/global.css);






/* MAIN PAGE */
/* ========================================================================= */
/* ========================================================================= */
/* ========================================================================= */

/* Navigation Area */
/* ========================================================================= */
.header-area .main-menu {
    background-color: #EE61D6;

    height: 8.8rem;
}

.header-area .main-menu .menu-title {
    position: absolute;
    
}

.header-area .main-menu .menu-title .pleasant-title {
    position: absolute;
    display: inline-block;
    top: 0rem; left: -.5rem;
    z-index: 0;
    margin-top: -.1rem;

    height: 8.9rem;
    overflow: hidden;

    /* background-color: green; */
    
}

.header-area .main-menu .menu-title .pleasant-title h1 {
    color: #D22E12;
    text-align: center;
    font-family: Monument Extended;
    font-size: 8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 9.5rem;
    text-transform: uppercase;
    user-select: none;

    transform: scale(1, 1.75);
}

.header-area .main-menu .menu-title .ildar-title {
    position: absolute;
    top: 1.6rem; left: 55rem;

    overflow: hidden;
}

.header-area .main-menu .menu-title .ildar-title h1 {
    color: rgba(255, 255, 255, 0.25);
    text-align: center;
    font-family: Monument Extended;
    font-size: 8rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    user-select: none;
}

.header-area .main-menu .menu-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
    width: 100%;
    height: 100%;
}

.header-area .main-menu .menu-container .navbar {
    display: flex;
    padding: 5rem 1rem 1rem 17rem;
    justify-content: space-between;
    vertical-align: top;
    flex-wrap: nowrap;

}

.header-area .main-menu .menu-container .navbar .navbar-nav .nav-item {
    padding: 0 .5rem;
}

.header-area .main-menu .menu-container .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1.5rem;

    color: #FFF;
    font-family: Druk Cyr;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    transition: all 0.4s ease;
    text-wrap: nowrap;
}

.header-area .main-menu .menu-container .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #050505;
    background-color: #FAED5B;
}

.header-area .main-menu .menu-container .navbar .navbar-nav .nav-item.active .nav-link {
    color: #050505;
    background-color: #FAED5B;
    text-decoration: underline;
}

.header-area .main-menu .menu-container .side-menu {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    padding-right: 4rem;
    padding-top: 5.5rem;

    color: black;
    font-size: 2rem;
}

.header-area .main-menu .menu-container .side-menu a {
    padding: 0 .8rem 0 .8rem;

    /* transition: color .5s ease; */
}

.header-area .main-menu .menu-container .side-menu a:hover {
    color: #fff;
}
/* ========================================================================= */
/* End Navigation Area */



/* Faces Area */
/* ========================================================================= */
.site-main .faces-area {
    /* min-height: 50rem; */
}

.site-main .faces-area .faces-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;

    background-color: var(--gray-color);
}

.site-main .faces-area .faces-list .face-item {
    width: 210px;
    height: 200px;
    background-image: url(../img/faces/face-default.png);
    background-size: 100%;
    
    border: 2px solid var(--black-color);
    /* transition: background .3s ease; */
}

.site-main .faces-area .faces-list #face01:hover {
    background-image: url(../img/faces/face01.gif);
}

.site-main .faces-area .faces-list #face02:hover {
    background-image: url(../img/faces/face02.gif);
}

.site-main .faces-area .faces-list #face03:hover {
    background-image: url(../img/faces/face03.gif);
}

.site-main .faces-area .faces-list #face04:hover {
    background-image: url(../img/faces/face04.gif);
}

.site-main .faces-area .faces-list #face05:hover {
    background-image: url(../img/faces/face05.gif);
}

.site-main .faces-area .faces-list #face06:hover {
    background-image: url(../img/faces/face06.gif);
}

.site-main .faces-area .faces-list #face07:hover {
    background-image: url(../img/faces/face07.gif);
}

.site-main .faces-area .faces-list #face08:hover {
    background-image: url(../img/faces/face08.gif);
}

.site-main .faces-area .faces-list #face09:hover {
    background-image: url(../img/faces/face09.gif);
}

.site-main .faces-area .faces-list #face10:hover {
    background-image: url(../img/faces/face10.gif);
}

.site-main .faces-area .faces-list #face11:hover {
    background-image: url(../img/faces/face11.gif);
}

.site-main .faces-area .faces-list #face12:hover {
    background-image: url(../img/faces/face12.gif);
}

.site-main .faces-area .faces-list #face13:hover {
    background-image: url(../img/faces/face13.gif);
}

.site-main .faces-area .faces-list #face14:hover {
    background-image: url(../img/faces/face14.gif);
}

.site-main .faces-area .faces-list #face15:hover {
    background-image: url(../img/faces/face15.gif);
}

.site-main .faces-area .faces-list #face16:hover {
    background-image: url(../img/faces/face16.gif);
}

.site-main .faces-area .faces-list #face17:hover {
    background-image: url(../img/faces/face17.gif);
}

.site-main .faces-area .faces-list #face18:hover {
    background-image: url(../img/faces/face18.gif);
}

/* ========================================================================= */
/* End Faces Area */



/* Hello Area */
/* ========================================================================= */
.site-main .hello-area .hello-con {
    text-align: right;

    background-color: var(--black-color);
}

.site-main .hello-area .hello-con .hello-wrapper {
    display: inline-block;
    position: relative;
    padding-top: .5rem;
    padding-right: 1.2rem;
}

.site-main .hello-area .hello-con .hello-wrapper .pink-smile {
    display: block;
    position: absolute;

    top: 7rem; left: -10rem;

    width: 14.625rem;
    height: 14.75rem;
    background-image: url(../img/pink-smile.png);
}

.site-main .hello-area .hello-con .quote-container {
    padding: 3.3rem 0;
}

.site-main .hello-area .hello-con .quote-container .quote-angles {
    color: white;
}

.site-main .hello-area .hello-con .quote-container .quote-text {
    width: 20rem;
    color: var(--pink-color);
}
/* ========================================================================= */
/* End Hello Area */


/* Mood Banner Area */
/* ========================================================================= */
.site-main .mood-banner-area {
    background-color: var(--red-color);
}

.site-main .mood-banner-area .quote-container {
    padding: 0 1.8rem 1.5rem 0;
}

.site-main .mood-banner-area .quote-container .quote-text {
    color: white;
}

.site-main .mood-banner-area .quote-container .quote-text {
    width: 28rem;
    color: var(--black-color);
}
/* ========================================================================= */
/* End Mood Banner Area */


/* Chat-bot Area */
/* ========================================================================= */

/* Mood Pick sub-area */
/* ========================== */
.site-main .chat-bot-area .emotion-pick-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    height: 15rem;
}

.site-main .chat-bot-area .emotion-pick-container .emotion-pick-item
.emotion-pick-button {
    position: relative;
    z-index: 2;

    width: 7rem;
    height: 7rem;

    cursor: pointer;
    
    background-color: var(--red-color);
    border-radius: 50%;

    transition: background 1s ease;
}

.site-main .chat-bot-area .emotion-pick-container .emotion-pick-item
.emotion-pick-button img {
    transition: transform .5s ease;
}

.site-main .chat-bot-area .emotion-pick-container .emotion-pick-item
.emotion-pick-button:hover {
    background-color: var(--black-color);
}

.site-main .chat-bot-area .emotion-pick-container .emotion-pick-item
.emotion-pick-button:hover img {
    transform: scale(0.8);
}

.site-main .chat-bot-area .emotion-pick-container .emotion-pick-item
.emotion-pick-button::before {
    content: attr(tooltip);
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 3px 10px;
    opacity: 0;
    pointer-events: auto;
    background: #fff;
    
    color: black;
    text-align: center;
    font-family: Futura PT Cond;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: all 0.3s ease-out;
}

.site-main .chat-bot-area .emotion-pick-container .emotion-pick-item
.emotion-pick-button::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    opacity: 0;
    background: #fff;
    transform: rotate(45deg);
    left: 20%;
    z-index: -2;
    transition: 
    all 0.3s ease-out;
}

.site-main .chat-bot-area .emotion-pick-container .emotion-pick-item
.emotion-pick-button:hover::before {
    top: -45px;
    opacity: 1;
}

.site-main .chat-bot-area .emotion-pick-container .emotion-pick-item
.emotion-pick-button:hover::after {
    top: -12px;
    opacity: 1;
}

.site-main .chat-bot-area .emotion-pick-container .emotion-pick-item
.emotion-pick-button.active {
    background-color: var(--black-color);
}

.site-main .chat-bot-area .emotion-pick-container .emotion-pick-item
.emotion-pick-button.active img {
    transform: scale(0.8);
}
/* ========================== */
/* End Mood Pick subarea */

/* Chat Bot Introduction subarea */
/* ========================== */
.site-main .chat-bot-area .chat-bot-intro {
    position: relative;
    padding-top: 3rem;
    height: 57.8rem;

    background-color: var(--red-color);
}

.site-main .chat-bot-area .chat-bot-intro .pleasant-container {
    height: 100%;
}

.site-main .chat-bot-area .chat-bot-intro .top-banner-container {
    position: relative;
    z-index: 1;
    width: 61rem;
    height: 54.8rem;
    background-color: var(--pink-color);
}

.site-main .chat-bot-area .chat-bot-intro .top-banner-container .top-banner-text-con {
    display: flex;
    flex-flow: row nowrap;
    width: 58rem;
    margin-top: -10rem;
    margin-bottom: 10rem;

    font-family: Futura PT Cond Medium Italic;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.125rem; /* 104.167% */
    text-transform: uppercase;
}

.site-main .chat-bot-area .chat-bot-intro .top-banner-container img {
    padding-left: .5rem;
}

.site-main .chat-bot-area .chat-bot-intro .top-banner-container .top-banner-text-con 
.top-banner-text-yellow {
    flex: 1;
    padding: .3rem 1rem;

    text-align: right;
    color: var(--black-color);

    background-color: var(--yellow-color);
}

.site-main .chat-bot-area .chat-bot-intro .top-banner-container .top-banner-text-con 
.top-banner-text-red {
    flex: 2;
    padding: .3rem 1rem;

    text-align: left;
    color: var(--white-color);

    background-color: var(--red-color);
}

.site-main .chat-bot-area .chat-bot-intro .top-banner-container
.tob-banner-sub-text {
    padding: 2rem 0 3.5rem 5.2rem;

    color: var(--white-color);
    font-family: Futura PT Cond Medium Italic;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.125rem; /* 104.167% */

    transform: rotate(-3deg);
}

.site-main .chat-bot-area .chat-bot-intro .top-banner-container
.tob-banner-sub-text span {
    color: var(--black-color);
    font-family: var(--danger);
    letter-spacing: 0.21rem;
}

.site-main .chat-bot-area .chat-bot-intro .top-banner-container
.chat-bot-start-button {
    margin: 3rem 0 0 35.7rem;
    border-radius: 50%;
}

.site-main .chat-bot-area .chat-bot-intro #bottom-quote {
    position: absolute;
    left: -15rem;
    bottom: 10rem;
    height: 10rem;
    width: 30rem;
}

.site-main .chat-bot-area .chat-bot-intro #side-quote {
    position: absolute;
    left: -5rem;
    top: 18rem;

    width: 32rem;

    transform: rotate(-90deg);
}

.site-main .chat-bot-area .chat-bot-intro .bg-snack {
    position: absolute;
    top: 10rem; right: 0rem;
    z-index: 0;
}

/* ========================== */
/* End Chat Bot Introduction subarea */

/* Chat-bot subarea */
/* ========================== */
.site-main .chat-bot-area .chat-bot {
    height: 57.8rem;
    background-color: var(--black-color);
}

.site-main .chat-bot-area .chat-bot .chat-bot-col {
    display: flex;
    flex-flow: column nowrap;
    height: 57.8rem;
    width: 100%;
    justify-content: space-between;
}

.site-main .chat-bot-area .chat-bot .text1 {
    color: var(--pink-color);
    font-family: Futura PT Cond Medium Italic;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.21rem;
    text-align: left;
}

.site-main .chat-bot-area .chat-bot .text2 {
    color: var(--pink-color);
    font-family: Futura PT Cond Medium Italic;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1575rem;
    text-align: center;
}

.site-main .chat-bot-area .chat-bot .text1 span,
.site-main .chat-bot-area .chat-bot .text2 span {
    color: var(--yellow-color);
    text-transform: uppercase;
}

.site-main .chat-bot-area .video-pick {
    display: flex;
    flex-flow: row wrap;
    gap: 1.4rem;
    justify-content: space-between;
}

.site-main .chat-bot-area .video-pick .video-item {
    width: 230px;
    cursor: pointer;
    transition: transform .5s ease;
}

.site-main .chat-bot-area .video-pick .video-item:hover {
    transform: scale(1.2);
}

.site-main .chat-bot-area .video-pick .video-item img {
    width: 100%;
}

.site-main .chat-bot-area .video-pick .video-item h4 {
    padding-top: .1rem;
    color: #FFF;
    font-family: Futura PT Cond;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.site-main .chat-bot-area .video-pick .video-item .sub-rating {
    display: flex;
    flex-flow: row nowrap;
    gap: .2rem;
}

.site-main .chat-bot-area .video-pick .video-item .sub-rating .rating-item {
    display: flex;
    flex-flow: row nowrap;
}

.site-main .chat-bot-area .video-pick .video-item .sub-rating .rating-item {
    color: var(--gray-color);
    font-family: Futura PT Cond Medium Italic;
}

.site-main .chat-bot-area .snack-pick {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.site-main .chat-bot-area .snack-pick p {
    color: var(--pink-color);
    font-family: Futura PT Cond Medium Italic;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1575rem;
}

.site-main .chat-bot-area .snack-pick .chat-bot-menu .pick-more-button {
    width: 16rem;
    height: 3.5rem;
    padding: 0.3rem 1rem;
    background-color: var(--red-color);

    color: #FFF;
    font-family: Futura PT Cond Medium Italic;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* ========================== */
/* Chat-bot subarea */

/* ========================================================================= */
/* End Chat-bot Area */


/* Games List Area */
/* ========================================================================= */
.site-main .games-list-area {
    position: relative;
}

.site-main .games-list-area .yellow-line-marquee {
    height: 8rem;
    width: 100%;
    background-color: var(--yellow-color);

    color: #050505;
    font-family: Druk Cyr;
    font-size: 6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-wrap: nowrap;
    user-select: none;
    overflow: hidden;
}

.site-main .games-list-area .games-list-banner {
    padding: 3rem 0 0 0;
}

.site-main .games-list-area #banner-quote {
    width: 35rem;
}

.site-main .games-list-area #banner-quote .quote-angles {
    color: var(--red-color);
}

.site-main .games-list-area .games-list {
    display: flex;
    flex-flow: column;
    gap: 10rem;
    width: 100%;
    padding: 2rem 0 0 0;
}

.site-main .games-list-area .games-list .games-list-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.site-main .games-list-area .games-list .games-list-row:nth-child(2) {
    flex-direction: row-reverse;
}

.site-main .games-list-area .games-list .games-list-row .games-list-description {
    width: 40rem;
}

.site-main .games-list-area .games-list .games-list-row .games-list-description h3 {
    margin-bottom: 2.5rem;

    color: var(--black-color);
    font-family: var(--danger);
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28rem;
}

.site-main .games-list-area .games-list .games-list-row .games-list-description p {
    color: #000;
    font-family: Futura PT Cond;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; /* 83.333% */
}

.site-main .games-list-area .game-list-footer {
    position: relative;
    padding: 13rem 0 5.8rem 46rem;
}

.site-main .games-list-area .game-list-footer .quote-container {
    width: 25rem;
}

.site-main .games-list-area .game-list-footer .quote-container .quote-angles {
    color: var(--red-color);
}

.site-main .games-list-area #side-quote-games {
    position: absolute;
    right: -10rem;
    bottom: 11rem;
    width: 30rem;

    transform: rotate(90deg);
}

.site-main .games-list-area #side-quote-games .quote-angles {
    color: var(--red-color);
}

.site-main .games-list-area .game-list-footer .blue-tape {
    position: absolute;
    bottom: -10rem; left: 15rem;
}
/* ========================================================================= */
/* End Games List Area */




/* Footer Area */
/* ========================================================================= */
.footer-area {
    padding-top: 4rem;
    background-color: #000;
    min-height: 10rem;

    background-image: url(../img/bg-footer.png);
}

.footer-area .social-links-area {
    padding-bottom: 5rem;
}

.footer-area .social-links-area .social {
    display: block;
    
    background-color: #D22E12;
    background-size: 100%;
    border-radius: 50%;
}

.footer-area .social-links-area .youtube-link {
    height: 248px;
    width: 249px;

    background: url(../img/footer-social-links/btn-youtube.png) no-repeat;
}

.footer-area .social-links-area .vk-link {
    border-radius: 50%;
    height: 150px;
    width: 151px;
    margin-top: 4rem;

    background: url(../img/footer-social-links/btn-vk.png) no-repeat;

}

.footer-area .social-links-area .instagram-link {
    height: 163px;
    width: 163px;

    background: url(../img/footer-social-links/btn-instagram.png) no-repeat;
}

.footer-area .social-links-area .twitch-link {
    height: 139px;
    width: 140px;
    margin-top: 7rem;

    background: url(../img/footer-social-links/btn-twitch.png) no-repeat;
}

.footer-area .social-links-area .telegram-link {
    height: 150px;
    width: 151px;
    margin-top: 3rem;

    background: url(../img/footer-social-links/btn-telegram.png) no-repeat;
}

.pulse-yellow:hover {
    animation: pulse-yellow 1.5s infinite;
}

.pulse-blue:hover {
    animation: pulse-blue 1.5s infinite;
}

.pulse-red:hover {
    animation: pulse-red 1.5s infinite;
}

.pulse-purple:hover {
    animation: pulse-purple 1.5s infinite;
}

@keyframes pulse-yellow {
	0% {
		transform: scale(1);
        box-shadow: 0 0 0 0px rgba(255, 247, 0, 0.2);
	}
	
	70% {
		transform: scale(1.2);
	}
	
	100% {
		transform: scale(1);
        box-shadow: 0 0 0 20px rgba(255, 247, 0, 0);
	}
}

@keyframes pulse-blue {
	0% {
		transform: scale(1.0);
        box-shadow: 0 0 0 0px rgba(51, 80, 243, 0.2);
	}
	
	70% {
		transform: scale(1.2);
	}
	
	100% {
		transform: scale(1.0);
        box-shadow: 0 0 0 20px rgba(51, 80, 243, 0);
	}
}

@keyframes pulse-red {
	0% {
		transform: scale(1.0);
        box-shadow: 0 0 0 0px rgba(234, 2, 2, 0.2);
	}
	
	70% {
		transform: scale(1.2);
	}
	
	100% {
		transform: scale(1.0);
        box-shadow: 0 0 0 20px rgba(234, 2, 2, 0);
	}
}

@keyframes pulse-purple {
	0% {
		transform: scale(1.0);
        box-shadow: 0 0 0 0px rgba(197, 59, 174, 0.2);
	}
	
	70% {
		transform: scale(1.2);
	}
	
	100% {
		transform: scale(1.0);
        box-shadow: 0 0 0 20px rgba(197, 59, 174, 0);
	}
}

.footer-area .marquee-area .footer-line {
    height: 5.5rem;
    width: 100%;
    box-shadow: 23px 16px 9.1px 0px rgba(0, 0, 0, 0.50);

    color: #000;
    font-family: Druk Cyr;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.48px;
    overflow: hidden;
    user-select: none;
}

.footer-area .marquee-area {
    position: relative;
    padding-bottom: 8rem;
}

.footer-area .marquee-area .footer-red-line {
    background-color: var(--red-color);
    transform: skewY(-6deg);
}

.footer-area .marquee-area .footer-yellow-line {
    position: absolute;
    top: -.5rem;
    transform: skewY(3deg);
    background-color: var(--yellow-color);
}
/* ========================================================================= */
/* End Footer Area */

/* ========================================================================= */
/* ========================================================================= */
/* ========================================================================= */
/* END MAIN PAGE */


/* ABOUT ME PAGE */
/* ========================================================================= */
/* ========================================================================= */
/* ========================================================================= */

/* Banner Area */
/* ========================================================================= */
.site-main .banner-area {
    position: relative;
    background-color: var(--black-color);
}

.site-main .banner-area .marquee-about-me-yellow-wrapper {
    position: absolute;
    top: 5rem;
    left: -95rem;
    z-index: 3;
    display: flex;
    height: 7rem;
    transform: rotate(90deg);
}

.site-main .banner-area .marquee-about-me-yellow-wrapper .marquee-about-me-yellow {
    width: 200rem;
    
    
    padding: 0rem 0rem;
    overflow: hidden;

    color: #050505;
    font-family: Druk Cyr;
    font-size: 6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6.5rem;
    text-transform: uppercase;
    user-select: none;

    background: #F9ED5B;
}

.site-main .banner-area .subscriber-count-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.site-main .banner-area .subscriber-count-container .subscriber-count-item {
    position: relative;
}

.site-main .banner-area .subscriber-count-container .subscriber-count-item h1 {
    color: #FFF;
    font-family: Druk Cyr;
    font-size: 6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-wrap: nowrap;
}

.site-main .banner-area .subscriber-count-container .subscriber-count-item h2 {
    position: absolute;
    top: 5rem; right: -2rem;
    transform: rotate(-7deg);

    color: #CF2018;
    font-family: Druk Cyr;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.site-main .banner-area .about-me-banner {
    height: 56rem;
    margin-top: -7rem;
    padding-top: 40rem;
    padding-left: 50%;
    background: url(../img/banners/about-me-banner.png) no-repeat;
    background-size: 100%;
}

.site-main .banner-area .about-me-banner p {
    width: 26rem;

    color: #FFF;
    font-family: Futura PT Cond Medium Italic;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.125rem; /* 104.167% */
}

.site-main .banner-area .about-me-banner p span {
    display: inline-block;
    height: 2.5rem;
    padding-right: 3rem;
    background-color: var(--pink-color);
    line-height: 2.5rem;
}

.site-main .banner-area .about-me-text-con {
    position: relative;
    width: 71rem;
    height: 31rem;
    padding: 6.8rem 3.75rem 0 11.5rem;
    background-color: var(--gray-color);
}

.site-main .banner-area .about-me-text-con p {
    padding-bottom: 2rem;

    color: var(--black-color);
    text-align: center;
    font-family: Druk Cyr;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 98.858%; /* 3.95431rem */
    letter-spacing: 0.16rem;
}

.site-main .banner-area .about-me-text-con h4 {
    transform: rotate(-6deg);

    color: var(--red-color);
    text-align: center;
    font-family: var(--danger);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 148.858%; /* 4.46575rem */
    letter-spacing: 0.21rem;
}

.site-main .banner-area .about-me-text-con img {
    position: absolute;
    bottom: 1rem; right: -5rem;
}
/* ========================================================================= */
/* End Banner Area */



/* Quiz Area */
/* ========================================================================= */
.site-main .quiz-area {
    min-height: 70rem;
    padding-top: 10rem;

    background: url(../img/target-bg.png) repeat-y;
    background-size: 1920px;
    background-position-x: center;
}

.site-main .quiz-area .quiz-title p {
    color: #000;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.site-main .quiz-area .quiz-sub-title {
    float: right;
    padding-right: 12rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.site-main .quiz-area .quiz-sub-title h2 {
    color: #000;
    font-family: var(--danger);
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.site-main .quiz-area .quiz-question p {
    color: #000;
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: center;
}

.site-main .quiz-area .quiz-choices {
    display: flex;
    justify-content: space-between;
}

.site-main .quiz-area .quiz-choices .choice-unit {
    padding: 1rem;
}

.site-main .quiz-area .quiz-choices .choice-unit .choice-pic {
    box-sizing: border-box;
    height: 15rem;
    width: 19rem;

    margin-top: 1.5rem;
    padding: 1rem 1rem;

    background-color: #D9D9D9;
    border-radius: 15px;
}

.site-main .quiz-area .quiz-choices .choice-unit .choice-text {
    box-sizing: border-box;
    display: inline-flex;
    height: 5rem;
    width: 19rem;

    margin-top: 1.5rem;

    text-align: center;
}

.site-main .quiz-area .quiz-result {
    padding: 9rem 0 12rem 0;
    text-align: right;
}

.site-main .quiz-area .quiz-result h1 {
    margin-right: 16rem;

    color: #000;
    font-family: var(--danger);
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transform: rotate(-0.888deg);
}

.site-main .quiz-area .quiz-result p {
    margin-top: 4rem;

    color: #000;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transform: rotate(-4.134deg);
}

.site-main .quiz-area .quiz-main-container {
    height: 26rem;
}
/* ========================================================================= */
/* End Quiz Area */


/* ========================================================================= */
/* ========================================================================= */
/* ========================================================================= */
/* END ABOUT ME PAGE */








/* MERCH PAGE */
/* ========================================================================= */
/* ========================================================================= */
/* ========================================================================= */

/* Sub-menu Area */
/* ========================================================================= */
.site-main .sub-menu-area {
    background-color: #000;
}

.site-main .sub-menu-area .marquee-merch-yellow-wrapper {
    position: absolute;
    top: 5rem;
    left: -62.1rem;
    z-index: 3;
    display: flex;
    transform: rotate(90deg);
}

.site-main .sub-menu-area .marquee-merch-yellow-wrapper .marquee-merch-yellow {
    width: 133rem;
    
    padding: 1rem 0rem;
    overflow: hidden;

    color: #000;
    text-align: center;
    font-family: Druk Cyr;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    user-select: none;

    background: #F9ED5B;
}

.site-main .sub-menu-area .yellow-line-wrapper .marquee-merch-yellow span {
    font-family: Futura-Bold;
}

.site-main .sub-menu-area .sub-menu-nav {
    display: inline-block;
    padding: .8rem 0 0 10rem;

    color: #FFF;
    font-family: Futura PT Cond;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0.3rem;
}

.site-main .sub-menu-area .sub-menu-nav {
    user-select: none;
}

.site-main .sub-menu-area .sub-menu-nav a:hover {
    color:#D22E12;
}


/* ========================================================================= */
/* End Sub-menu Area */

/* Merch Area */
/* ========================================================================= */
.site-main .merch-area {
    padding-top: 4.4rem;
    background-color: black;
}

.site-main .merch-area .red-line-wrapper {
    position: relative;
    width: 1rem;
    height: 1rem;
}

.site-main .merch-area .red-line-wrapper .marquee-merch-red {
    position: absolute;
    top: 6rem;
    z-index: 1;

    width: 98.9vw;

    color: rgba(255, 255, 255, 0.63);
    font-family: Futura PT Cond;
    font-size: 2rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    overflow: hidden;

    background: rgba(210, 46, 18, 0.76);
    mix-blend-mode: hard-light;
}

.site-main .merch-area .red-line-wrapper .marquee-merch-red span {
    padding: 0 10rem;
}

.site-main .merch-area .merch-con {
    position: relative;
    z-index: 2;
}

.site-main .merch-area .sort-menu {
    flex: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    float: left;

    width: 25.25rem;
    height: 31.25rem;
    padding: 0rem 1rem 0rem 10.5rem;
    
    background-color: #EE61D6;
}

.site-main .merch-area .sort-menu .pick-merch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    color: #FFF;
    text-align: left;
    font-family: FuturaDemiC;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.14rem;
    cursor: pointer;
}

.site-main .merch-area .merch-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.site-main .merch-area .merch-list .merch-item {
    padding: 0 1rem 6rem 1rem;
}

.site-main .merch-area .merch-list .merch-item .merch-photo-con {
    position: relative;
    background-color: #F5F5F5;
    border-radius: 15px;
}

.site-main .merch-area .merch-list .merch-item .merch-photo-con img {
    border-radius: 10px;
}

.site-main .merch-area .merch-list .merch-item .merch-photo-con .fav-button {
    position: absolute;
    bottom: 1%; right: 2%;

    border-radius: 50%;
}

.site-main .merch-area .merch-list .merch-item .merch-photo-con .fav-button i {
    color: #c5c5c5;
    font-size: 2rem;

    transition: color .5s ease;
}

.site-main .merch-area .merch-list .merch-item .merch-photo-con .fav-button:hover i {
    color:red;
}

.site-main .merch-area .merch-list .merch-item .merch-photo-con .fav-button i.active {
    color: red;
}

.site-main .merch-area .merch-list .merch-item h4 {
    padding: 1rem 0 1rem 0;

    color: #FFF;
    text-align: right;
    font-family: Druk Cyr;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.105rem;
}

.site-main .merch-area .merch-list .merch-item .merch-item-bottom {
    color: #FFF;
    text-align: right;
    font-family: Druk Cyr;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.105rem;
}

.site-main .merch-area .merch-list .merch-item .merch-item-bottom s {
    color: #909090;
    margin-right: .5rem;
}

.site-main .merch-area .merch-list .merch-item .merch-item-bottom button {
    background: #D22E12;
    padding: 0.25rem;
    margin-left: 3rem;
    border: none;

    color: #FFF;
    text-align: center;
    font-family: Futura-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    cursor: pointer;
}

.site-main .merch-area .merch-list .merch-item .merch-item-bottom button:hover {
    outline: 3px dashed white;
}

/* ========================================================================= */
/* End Merch Area */


/* ========================================================================= */
/* ========================================================================= */
/* ========================================================================= */
/* END MERCH PAGE */









/* UNIMPLEMENTED */

/* List of videos Area */
.site-main .under-video .video-pick-area .thumbnail-image {
    padding: 1rem;
}

.site-main .under-video .video-pick-area .thumbnail-image > img {
    transition: transform .4s ease;
}

.site-main .under-video .video-pick-area .thumbnail-image > img:hover {
    filter:brightness(1.1);
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}
/* End List of videos Area */